<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all" th:text="${topic}">Topic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div>

        <p>Hi!</p>
        <p>
            Click on the link below to reset password. Your temporary account password is: <strong th:text="${newPassword}">newPassword</strong>
        </p>
        <p>
            <a th:href="${link}">link</a>
        </p>
    </div>

</body>

</html>